body {
    background-image: url("../images/trivia-background.jpg");
}
h1 {
    font-family: 'Monoton', cursive;
    font-size: 85px;
    text-align: center;

}
button {
    font-family: 'Righteous', cursive;
    margin: 0 570px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1e2b5a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #c0b7d2;
  }
  
  .button:hover {background-color: #3a293c}
  
  .button:active {
    background-color: #3a293c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }